* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f9;
  direction: rtl;
  font-family: "Amiri", serif;
  font-size: 20px;
}

:root {
  --main-color: #2196f3;
  --main-alt-color: #1787e0;
  --second-color: #19283f;
  --section-color: #eee;
  --padding-section: 50px 0;
  --transition: 0.5s ease-in-out;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Start Breadcrunbs */

ul.breadcrumb {
  padding: 10px 15px;
  background-color: var(--section-color);
  margin-bottom: 30px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 20px;
}

ul.breadcrumb li + li:before {
  content: "/\00a0";
  padding: 8px;
  color: black;
}

ul.breadcrumb li a {
  text-decoration: none;
  color: var(--main-color);
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* End Breadcrunbs */

/* Header */

.header {
  position: relative;
  background-color: #fff;
}

.header .head {
  gap: 25%;
}

.header .info {
  position: relative;
  cursor: pointer;
}

.header .info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 5px;
}

.header .info ul {
  display: none !important;
  position: absolute;
  background-color: #fff;
  width: 200px;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  z-index: 2;
}

.header .info ul.open {
  display: block !important;
}

.header .info a {
  display: block;
}

.header ul a {
  padding: 15px 20px;
  color: #000;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  transition: 0.3s;
}

.header ul a::after {
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--main-color);
  transition: 0.3s;
}

.header ul a:hover::after {
  width: 100%;
}

.header ul a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

.header .lang {
  padding: 10px 15px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
  transition: 0.3s;
  margin-top: 10px;
  margin-left: 0;
}

.header .lang:hover {
  background-color: var(--main-alt-color);
}

.header button {
  display: none;
}

@media (max-width: 992px) {
  .header .head {
    justify-content: space-between;
  }

  .header button {
    display: block;
    font-size: 25px;
  }

  .header nav {
    position: absolute;
    display: block !important;
    right: 0;
    top: 100%;
    width: 100%;
    border-top: 3px solid var(--main-color);
    background-color: #fff;
    z-index: 2;
    min-height: 287px;
    padding: 10px;
    display: none !important;
  }

  .header nav ul {
    display: block !important;
  }

  .header nav ul a {
    display: block;
  }

  .header nav ul a::after {
    width: 4px !important;
    height: 0;
    right: 0;
  }

  .header ul a:hover::after {
    height: 100%;
  }

  .header .info ul {
    right: -100px;
  }

  .header .lang {
    display: block;
    width: fit-content;
  }

  .header button.open + nav {
    display: block !important;
  }
}
/* Header */

.sidebar {
  position: relative;
  top: 0;
  right: 0;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  transition: 0.3s;
}

.sidebar h1 {
  position: relative;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}

.sidebar h1::before,
.sidebar h1::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar h1::before {
  width: 100px;
  height: 4px;
  border-radius: 10px;
  background-color: #000;
  bottom: -15px;
}

.sidebar h1::after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #000;
  background-color: #fff;
  bottom: -23px;
}

.toggle {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 20px;
  padding: 10px;
  display: none;
  transition: 0.3s;
}

.toggle:hover {
  transform: rotate(180deg);
}

.sidebar li a {
  display: block;
  padding: 10px;
  color: #000;
  font-weight: bold;
}

.sidebar li a:hover,
.sidebar li a.active {
  background-color: #f6f6f6;
}

@media (min-width: 768px) {
  .sidebar {
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .toggle {
    display: block;
  }

  .toggle:hover {
    right: 300px;
  }

  .toggle:hover + .sidebar {
    right: 0;
    z-index: 10;
  }

  .sidebar {
    position: absolute;
    right: -300px;
    height: 120vh;
  }
}

/* End Sidebar */

/* Start Lessons */
.lesson {
  background-color: var(--main-color);
  position: relative;
}

.lesson h1 {
  color: #f4b081;
}

.lesson .brd {
  border: 1px solid #fff;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lesson .content .box {
  height: 100vh;
  overflow-y: scroll;
}

.lesson .box::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

.lesson .box::-webkit-scrollbar-thumb {
  background-color: #075ea6;
}

.lesson .box::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}
.lesson p {
  color: #fff;
  margin: 20px 0;
}

.lesson .content h2 {
  color: #264376;
  font-size: 35px;
  margin-bottom: 20px;
}

.lesson .content span {
  display: block;
  height: 250px;
  border: 1px solid #fff;
  border-radius: 20px;
}

.lesson .content .box ul a,
.lesson .content ul a {
  display: block;
  text-align: center;
  background-color: #ecf1f9;
  color: #000;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.lesson .content .box ul a:hover,
.lesson .content ul a:hover {
  background-color: var(--main-alt-color);
  color: #fff;
}

.lesson .menu1 .toggle1,
.lesson .menu2 .toggle2 {
  position: absolute;
  right: 0;
  width: fit-content;
  border: none;
  background-color: #fff;
  color: var(--main-color);
  font-size: 20px;
  padding: 10px;
  display: none;
  transition: 0.3s;
}
.lesson .menu1 .toggle1 {
  top: 30%;
}
.lesson .menu2 .toggle2 {
  top: 60%;
}
.lesson .menu1 .toggle1:hover {
  transform: rotate(180deg);
}
.lesson .menu2 .toggle2:hover {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .lesson .menu1 .toggle1 {
    display: block;
  }

  .lesson .menu1 ul {
    position: absolute;
    top: 0;
    right: -150px;
    background-color: #fff;
    height: 100%;
    width: 150px;
    padding: 100px 20px 20px;
    transition: 0.3s;
    z-index: 1;
  }

  .lesson .menu1 .toggle1:hover {
    right: 149px;
  }

  .lesson .menu1 .toggle1:hover + ul {
    right: 0;
  }

  .lesson .menu2 .toggle2 {
    display: block;
  }

  .lesson .menu2 ul {
    position: absolute;
    top: 0;
    right: -150px;
    background-color: #fff;
    height: 100%;
    width: 150px;
    padding: 100px 20px 20px;
    transition: 0.3s;
  }

  .lesson .menu2 .toggle2:hover {
    right: 149px;
  }

  .lesson .menu2 .toggle2:hover + ul {
    right: 0;
  }

  .lesson .content a:hover {
    background-color: var(--main-color);
    color: #fff;
  }
}

/* End Lessons */

.up {
  position: fixed;
  bottom: 10px;
  right: -100px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.up.show {
  right: 10px;
}

/* Start About Us */

nav h1 {
  margin-left: 30px;
}

.about-us h1 {
  text-align: center;
  height: 100px;
  font-size: 80px;
  color: var(--main-alt-color);
  width: 250px;
  display: block;
  margin: 80px auto;
  overflow: hidden;
  animation: controller 3s 2s both, blink 0.8s infinite;
}

@keyframes controller {
  from {
    width: 0;
    border-left: 2px solid var(--main-alt-color);
  }

  to {
    width: 250px;
  }
}

@keyframes blink {
  from {
    border-left-color: var(--main-alt-color);
  }

  to {
    border-left-color: transparent;
  }
}

.about-us h2 {
  color: var(--main-color);
}

.about-us .description p {
  line-height: 1.7;
  margin-left: 20px;
}

.about-us ul {
  list-style: disc;
  margin-left: 30px;
}

.about-us ul li {
  margin-bottom: 20px;
}

/* End About Us */

/* End Home Page */

/* Start Lesson content */

.lesson-content {
  position: relative;
}

.lesson-content .links a {
  position: relative;
  border: 1px solid var(--main-color);
  font-size: 25px;
  min-width: 165px;
  height: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.lesson-content .links a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-width: 0px;
  border-style: solid;
  border-color: var(--main-color) var(--main-color) transparent transparent;
  width: 0;
  height: 0;
  transition: 0.8s;
}

.lesson-content .links a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-width: 0px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) var(--main-color);
  width: 0;
  height: 0;
  transition: 0.8s;
}

.lesson-content .links a:hover::after,
.lesson-content .links a:hover::before {
  width: 100%;
  height: 100%;
  border-width: 5px;
}

.lesson-content .links a:hover {
  transform: translateY(-10px);
  color: var(--main-color);
}

.lesson-content .content span {
  display: block;
  width: 100%;
  height: 350px;
  border: 1px solid var(--main-color);
}

.lesson-content .activities {
  display: none;
}

.lesson-content .activity {
  background-color: #fff;
  padding: 20px;
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -200px;
  transition: 0.3s;
}

.lesson-content .activity a {
  font-size: 22px;
  padding: 5px 20px;
  height: fit-content;
  border-radius: 15px;
  border: 1px solid var(--main-color);
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.lesson-content .activity a:hover {
  background-color: var(--main-color);
  color: #fff;
}

@media (max-width: 768px) {
  .lesson-content .links {
    display: none !important;
  }

  .lesson-content .activities {
    display: block;
  }

  .lesson-content .activity.open {
    right: 0;
  }
}
/* End Lesson content */

/* Start Letters */

.letters .letter-lesson {
  flex-wrap: wrap;
}

.letter-lesson a {
  position: relative;
  border: 1px solid var(--main-color);
  font-size: 30px;
  width: 250px;
  height: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.letter-lesson a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-width: 0px;
  border-style: solid;
  border-color: var(--main-color) var(--main-color) transparent transparent;
  width: 0;
  height: 0;
  transition: 0.8s;
}

.letter-lesson a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-width: 0px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) var(--main-color);
  width: 0;
  height: 0;
  transition: 0.8s;
}

.letter-lesson a:hover::after,
.letter-lesson a:hover::before {
  width: 100%;
  height: 100%;
  border-width: 5px;
}

.letter-lesson a:hover,
.letter-lesson a.active {
  transform: translateY(-10px);
  color: var(--main-color);
}

/* End Letters */

/* Start Levels */

.level .lessons {
  flex-wrap: wrap;
}

.level a {
  position: relative;
  border: 1px solid var(--main-color);
  font-size: 30px;
  width: 330px;
  height: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.level a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  border-width: 0px;
  border-style: solid;
  border-color: var(--main-color) var(--main-color) transparent transparent;
  width: 0;
  height: 0;
  transition: 0.8s;
}

.level a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-width: 0px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) var(--main-color);
  width: 0;
  height: 0;
  transition: 0.8s;
}

.level a:hover::after,
.level a:hover::before {
  width: 100%;
  height: 100%;
  border-width: 5px;
}

.level a:hover {
  transform: translateY(-10px);
  color: var(--main-color);
}

/* End Levels */

/* Start Study */

.study .first,
.study .second {
  flex: 1;
}

.study p {
  font-size: 18px;
  line-height: 1.5;
}

.study a {
  padding: 10px 30px;
  font-size: 21px;
  border-radius: 50px;
  margin: 20px auto;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.study a:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.description {
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .study .select {
    flex-direction: column;
  }
}

/* End Study */

/* Start Techers */

.teacher img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.teacher p {
  font-size: 22px;
}

@media (max-width: 768px) {
  .teacher {
    flex-direction: column;
  }

  .teacher .demo {
    justify-content: center;
  }
}

/* End  Techers */

/* Start Footer */

footer {
  padding: var(--padding-section);
  background-color: var(--second-color);
}

footer h4 {
  color: var(--main-color);
  text-transform: uppercase;
}

footer li {
  padding: 6px 0;
}

footer a {
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
}

footer a:hover {
  color: var(--main-color);
}

footer .icons ul {
  gap: 30px;
}
footer .icons i {
  font-size: 30px;
}

.foot {
  background-color: var(--main-color);
  color: #fff;
}
.foot p {
  font-weight: 600;
  font-size: 25px;
  margin: 0;
}

/* End Footer */
